/* Universal */
html {
  font-size: 16px
  font-family: 'Roboto' sans-serif;
}

body {
  margin: 0px;
  line-height: 1.4;
}

header {
  display: flex;
  border: 2px dotted black;
  background-color:#0277bd;
  height: 4rem;
  display: fixed;
  z-index: 1;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  border: 1px solid red;
  justify-content: center;
}

#logo {
  display: flex;
  border: 1px solid forestgreen;
}

#text-logo {
  display: flex;
  border: 3px dotted purple;
}

#text-logo span {

}
nav {
  width: 100%;
  display: flex;
  border: 2px solid blue;
  justify-content: space-around;
  text-align: right;

}
.desktop-nav {
}

.desktop-nav li {
  display: inline-block;

}
nav li a {
  text-decoration: none;
  color: white;
}
